.profile {
  width: auto;
  height: auto;
  text-align: center;
  align-items: center;
  justify-content: center;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  background-color: white;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 4px;
}
.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid red;
  padding: 5px;
  margin-bottom: 30px;
}
.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding: 40px;
}
.location,
.tag,
.name {
  font-weight: 500;
  line-height: 1.187;
}
.tag,
.location {
  color: gray;
  font-size: 25px;
}
.name,
.tag {
  margin-bottom: 10px;
}

.stats {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgb(241, 246, 243);
}

.item {
  display: flex;
  flex-direction: column;
  padding: 25px;
  width: 70px;
  border-top: 1px solid rgb(193, 191, 191);
  font-size: 18px;
  font-weight: 500;
}
.item:not(:last-child) {
  border-right: 1px solid rgb(193, 191, 191);
}
.label {
  color: gray;
  margin-bottom: 10px;
}
